body{
    font: 16px Roboto, sans-serif;
}

.navbar{
    padding-right: 100px;
    background-color: #264653;

}

.quem-somos{
    
    background-color: #98C1D9;
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
    
}

.parceiros{
    background-color: #2a9d8f;    
}

.bg-footer{
    background-color: #293241;
    color: whitesmoke;
}
.clear{
    clear: both;
}

.bg-footer p a{
   margin-right: 20px;
   color: whitesmoke;
}



.foot li a{
    margin: auto;
    color: #9c9b9b;
}
.foot li a:hover{
 color: #ffffff;
}

